body {
  background-color: #3D6E8A;
}
#rcorners7 {
  color: #EAF1F4;
  font-size: 17px;
  text-align: center;
  border-radius: 25px;
  border: 5px solid #B7DBE9;
  background: #173745;
  padding: 10px; 
  width: 348px;
  height: 201px; 
}

nav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: white;
}

div1 {
  border:0px;
}

li {
  float: left;
}

h1 {
  color: white;
}
p1 {
  font-style: italic;
  font-weight: bold;
  font-size: 18px;
  color: white;
}

p2 {
  font-weight: bold;
  font-size: 16px;
  color:white;
}

p3 {
  font-weight: 600;
  font-style: italic;
  font-size: 16px;
  color: white;
}

.myheader {
  border: 1px black;
  background-color: white;
  text-align: center;
}

#rcorners1 {
  color: #568EA6;
  font-size: 24px;
  text-align: center;
  border-radius: 25px;
  border: 5px solid #B7DBE9;
  background: white;
  padding: 10px; 
  width: 249px;
  height: 42px; 
}

#rcorners2 {
  color: white;
  font-size: larger;
  text-align: center;
  border-radius: 25px;
  border: 2px solid #EAF1F4;
  background: #173745;
  padding: 10px; 
  width: 200px;
  height: 15px; 
}

#rcorners3 {
  color: #173745;
  font-size: larger;
  text-align: center;
  border-radius: 25px;
  border: 2px solid #173745;
  background: #B7DBE9;
  padding: 10px; 
  width: 200px;
  height: 15px; 
}

#rcorners4 {
  color: #173745;
  font-size: larger;
  text-align: center;
  border-radius: 25px;
  border: 2px solid #EAF1F4;
  background: #B7DBE9;
  padding: 10px; 
  width: 200px;
  height: 15px; 
}

#rcorners5 {
  line-height: 60px;
  color: #B8C5CB;
  font-size: large;
  text-align: center;
  border-radius: 50%;
  border: 5px solid #B8C5CB;
  background: #FFFFFF;
  width: 60px;
  height: 60px; 
}

#rcorners6 {
  border-radius: 25px;
  border: 0px solid #EAF1F4;
  background: #B7DBE9;
  padding: 10px; 
  width: 560px;
  height: 17px; 
}

#rcorners8 {
  
  border-radius: 25px;
  border: 0px solid #EAF1F4;
  background: #B7DBE9;
  padding: 10px; 
  width: 328px;
  height: 6px; 
}

#rcorners10 {
  font-size: 16px;
  color:#173745;
  border-radius: 25px;
  border: 5px solid #B7DBE9;
  background: white;
  padding: 10px; 
  width: 400px;
  height: 15px; 
}

div3 {
    font-size:45px;
    color:white;
    text-shadow:2px 2px 4px #000000;
}

img {
  width: 17px;
  height: 17px;
}

.image1 {
width: 59px;
height: 59px;
}

